extends base.pug

block content 
    h4 Update Video
    form(method="POST" action="/videos/upload")
        input(name="title", placeholder="Video Title", required,value=video.title)
        input(name="description", placeholder="Video Title", required,value=video.description)
        input(name="hashtags", placeholder="Video Title", required,value=video.hashtags.join())
        input(value="Save",type="submit")